@font-face {
    font-family: 'airconditioner';
    src: url('../../fonts/airconditioner/airconditioner-webfont.eot');
    src: url('../../fonts/airconditioner/airconditioner-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/airconditioner/airconditioner-webfont.woff2') format('woff2'),
         url('../../fonts/airconditioner/airconditioner-webfont.woff') format('woff'),
         url('../../fonts/airconditioner/airconditioner-webfont.ttf') format('truetype'),
         url('../../fonts/airconditioner/airconditioner-webfont.svg#air_conditionerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'elvis';
    src: url('../../fonts/elvis/elvis___-webfont.eot');
    src: url('./../fonts/elvis/elvis___-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/elvis/elvis___-webfont.woff2') format('woff2'),
         url('./../fonts/elvis/elvis___-webfont.woff') format('woff'),
         url('./../fonts/elvis/elvis___-webfont.ttf') format('truetype'),
         url('./../fonts/elvis/elvis___-webfont.svg#elvisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}